.web-development-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.web-development-header {
  margin-bottom: 20px;
}

.web-development-main p {
  line-height: 1.5;
  margin-bottom: 10px;
}
