/* WorkflowDiagram.css */

/* Define the keyframes for the pulsing/waving animation */
@keyframes wave-pulse {
  0%, 100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}



/* Apply the animation to the custom class */
.animate-wave > svg:nth-child(1) {
  animation: wave-pulse 1.2s ease-in-out infinite;
}

.animate-wave > svg:nth-child(2) {
  animation: wave-pulse 1.2s ease-in-out infinite 0.2s; /* Delay the second icon */
}

.animate-wave > svg:nth-child(3) {
  animation: wave-pulse 1.2s ease-in-out infinite 0.4s; /* Delay the third icon */
}