 /* const CELL_SIZE = 40;
 const COLOR_R = 79;
 const COLOR_G = 38;
 const COLOR_B = 233;
 const STARTING_ALPHA = 255;
 const BAGROUND_COLOR =31;
 const PROB_OF_NEIGHBOR = O.5;
 const AMT_FADE_PER_PRAME = 5;
 const STROKE_WEIGHT = 1;


 //VARIABLES 

 let colorWithAlpha;
 let numRows;
 let numCols;
 let currentRow = -1;
 let currentCol = -1;
 let allNeighbor=[]; //Array to store all neighbors


 function setup(){
    createCanvas(windowWidth,windowHeight);
    colorWithAlpha = color(COLOR_R,COLOR_G,COLOR_B,STARTING_ALPHA);
    noFile();
    stroke(colorWithAlpha);
    strokeWeight(STROKE_WEIGHT);
    numRows = Math.ceil(windowHeight / CELL_SIZE);



 }

 function draw(){

    background(BACKGROUND_COLOR);

    let row = floor(mouseY/CELL_SIZE);
    let col = floor(mouseX/CELL_SIZE);



   if (row !== currentRow || col !== currentCol){
    currentRow = row;
    currentCol = col;
    

    allNeighbors.push(...getRandomNeighbors(row,col))


   }
   let x = col * CELL_SIZE;
   let y = row * CELL_SIZE;

   stroke(colorWithAlpha);
   rect(x,y,CELL_SIZE,CELL_SIZE);

   for (let neighbor of a allNeighbor){
    let neighborX = neighbor.col * CELL_SIZE;
    let neighborY = neighbor.row * CELL_SIZE;

    neighbor.opacity = max(0,neighbor.opacity - AMT_FADE_PER_FRAME);
    stroke(COLOR_R,COLOR_G,COLOR_B,neighbor.opacity);
    rect(neighborX,neighborY,CELL_SIZE,CELL_SIZE);

   }
   allNeighbors = allNeighbors.filter((neighbor)=>neighbor.opacity >0 );


 }

 funcion getRandomNeighbors(row,col){


    for (let dRow = -1; dRow <= 1; dCol++ ){

        let neighborRow = row + dRow ;
        let neighborCol = Col + dCol ;


        let isCurrentCell = dRow === 0 && dCol === 0;


        let isInBounds = 
        neighborRow >= 0 &&
        neighborRow < numRows &&
        neighborCol >= && 
        neighborCol < numCols;


        if(!isCurrentCell && isInBounds && Math.random()<PROB_OF_NEIGHBOR){

            neighbors.push({

                row: neighborRow,
                col: neighborRow,
                opacity: STARTING_ALPHA,
            })

        

        }


    }

    return neighbors;


 }

 function windowResized(){
    resizeCanvas(windowWidth,windowHeight)
    numRows = Math.celi(windowHeight / CELL_SIZE)
    numCols = Math.celi(windowHeight / CELL_SIZE)
 } */
