/* CyberSecurity.css */

/* General SVG and Container Styling */
.ecr-container {
    /* Styles for the main container */
    /* You might want to remove elementor classes if you're not using Elementor */
}

 

.ecr svg {
    width: 100%;
    max-width: 1000px;
    display: block;
    height: auto;
}

/* Specific Element Styling */
.ecr .orange-circle {
    /* Note: filter dropshadows can sometimes be applied directly to SVG elements */
    filter: drop-shadow(0px 0px 1px #ff0f0f);
}

.ecr .blue-circle {
    filter: drop-shadow(0px 0px 1px #0e12e6);
}


.btn-outline {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  color: #1d4ed8; /* blue-600 */
  font-weight: bold;
  border: 2px solid #1d4ed8;
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.4s ease;
}

.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #345fd6;
  z-index: 0;
  transition: all 0.4s ease;
}

.btn-outline:hover::before {
  left: 0;
}

.btn-outline:hover {
  color: white;
}

.btn-outline span {
  position: relative;
  z-index: 1;
}
 

