

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap'); */
 
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
 

@import "tailwindcss";;
@plugin "daisyui";

/* Font classes */
.font-urbanist { font-family: "Urbanist", sans-serif; }
.font-roboto { font-family: "Roboto", sans-serif; }
.font-poppins { font-family: "Poppins", sans-serif; }
.iceberg-regular { font-family: "Iceberg", sans-serif; }


 


 

/* Prevent horizontal scroll */
html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

/* Theme colors */
:root {
  --primary: #0072bc ;
  --secondary: #FF8402;
  --third: #16161a;
  --fourth: #2b2b2e;
}



/* Navbar Active Link & Underline */
.nav-link {
  position: relative;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var( --secondary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

.nav-link.active {
  color: var(--primary);
}

/* Dropdown links for mobile */
.dropdown-link.active {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

 /* body {
  
  overflow-x: hidden;
   
  margin: 0;
  padding: 0;
} */

/* html, body {
  overflow-x: hidden;
} */

 /* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;   
  box-sizing: border-box;
} */

/* 
#tsparticles,
#tsparticles canvas {
  pointer-events: none !important;
  z-index: -1 !important;
  position: absolute !important;
} */


